<ul class="contacts__pagination-list">
    <li class="contacts__pagination-item">
        <a href="#" class="contacts__pagination-link contacts__pagination-link--active">
            1
        </a>
    </li>
    <li class="contacts__pagination-item">
        <a href="#" class="contacts__pagination-link">
            2
        </a>
    </li>
    <li class="contacts__pagination-item">
        <a href="#" class="contacts__pagination-link">
            3
        </a>
    </li>
    <li class="contacts__pagination-item">
        <a href="#" class="contacts__pagination-link">
            4
        </a>
    </li>
    <li class="contacts__pagination-item">
        <a href="#" class="contacts__pagination-link">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.217 13.2855L13.9586 9.57098L10.217 5.80242" stroke="#6E767D" stroke-width="1.28" />
                <path d="M5.54008 9.54394H13.0232" stroke="#6E767D" stroke-width="1.28" />
            </svg>
        </a>
    </li>
</ul>