@import '../../../../variables';

.contacts {
    &__pagination-list {
        margin-top: 45px;
        display: flex;
        justify-content: center;
    }
    &__pagination-item + &__pagination-item {
        margin-left: 16px;
    }
    &__pagination-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid $colorGray;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: $colorGray;
        transition: $transition;
        &:hover, &--active {
            border-color: $colorRed;
            color: $colorRed;
        }
        path {
            transition: $transition;
        }
        &:hover path, &--active path {
            stroke: $colorRed;
        }
    }
}