<div class="contacts__card">
    <div class="contacts__card-inner">
        <img class="contacts__card-img" src="assets/images/photo-user.png" alt="photo user">
        <div class="contacts__card-info">
            <h4 class="contacts__card-name">
                {{firstName}} {{lastName}} {{middleName}}
            </h4>
            <p class="contacts__card-organization">
                {{organization}}
            </p>
            <p class="contacts__card-departament">
                {{department}}
            </p>
            <p class="contacts__card-position">
                {{position}}
            </p>
            <a class="contacts__card-phone" href="tel{{phone}}">
                {{phone}}
            </a>
            <a class="contacts__card-email" href="mailto:{{email}}">
                {{email}}
            </a>
        </div>
    </div>
</div>