@import '../../../../variables';

.contacts {
    &__title {
        font-weight: 700;
        text-align: center;
        font-size: 22px;
        line-height: 26px;
        padding: 24px 0;
        margin: 0 24px;
        color: $colorTitle;
        text-transform: uppercase;
        border-bottom: 3px solid $colorDarkWhite;
        letter-spacing: 1px;
    }
}