<section class="contacts">
  <app-contact-header></app-contact-header>
  <div class="contacts__container">
    <app-contact-filter></app-contact-filter>
    <div class="contacts__cards">
      <app-contact-card></app-contact-card>
      <app-contact-card></app-contact-card>
      <app-contact-card></app-contact-card>
      <app-contact-card></app-contact-card>
      <app-contact-card></app-contact-card>
      <app-contact-card></app-contact-card>
      <app-contact-card></app-contact-card>
      <app-contact-card></app-contact-card>
      <app-contact-card></app-contact-card>
      <app-contact-card></app-contact-card>
      <app-contact-card></app-contact-card>
      <app-contact-card></app-contact-card>
      <app-contact-card></app-contact-card>
      <app-contact-card></app-contact-card>
      <app-contact-card></app-contact-card>
    </div>
    <app-contact-pagination></app-contact-pagination>
  </div>
</section>